:root {
    --default: #1E1014;
    --tiles: #2E2628;
    --tiles-alt: #544b4d;
    --text: white;
    --subtitle: #95A3B3;
}

body {
    background-color: var(--default);
    color: var(--text);
    height: 100%;
}

ul {
    list-style: none;
    align-items: center;
}

h3 {
    font-size: 1rem;
    color: var(--subtitle);
} */

p {
    font-size: 4rem;
}

.main {
    height: 100%;
    width: 100%;
}

.content {
    width: 60%;
    height: 100%;
}

.sidebar {
    background-color: var(--tiles);
    height: 100vh;
    width: 30%;
    margin: 5px;
    padding: 5px;
    border: 2px solid var(--tiles);
    border-radius: 6px;
    
}

.stats {
}

.stats, .webVisitors {
    height: 50%;
    width: 60%;
}

.webVisitors {

    background-color: var(--tiles);
}

.webVisDiv {
    background-color: var(--tiles-alt);

}
